@model BlogsMVC.Models.bloguser

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index1</title>
</head>
<body>
    <div> 
        @Html.TextBoxFor(c=>c.CnName)
        @Html.ValidationMessageFor(c=>c.CnName)
        <br />
        @Html.TextBoxFor()
    </div>
</body>
</html>
